@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #87995c;
  --secondary: #bacb91;
}

@layer base {
  :root {
    --layout-max-w: 420px;
    --layout-min-h: 100dvh;
  }
  .layout {
    @apply mx-auto min-h-[var(--layout-min-h)] w-full max-w-[var(--layout-max-w)];
  }
}

body {
  font-family: 'Pretendard', sans-serif;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Jalnan OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/src/assets/fonts/Pretendard/Pretendard-Bold.woff2'),
    url('/src/assets/fonts/Pretendard/Pretendard-Bold.woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('/src/assets/fonts/Pretendard/Pretendard-SemiBold.woff2'),
    url('/src/assets/fonts/Pretendard/Pretendard-SemiBold.woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/src/assets/fonts/Pretendard/Pretendard-Medium.woff2'),
    url('/src/assets/fonts/Pretendard/Pretendard-Medium.woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/src/assets/fonts/Pretendard/Pretendard-Regular.woff2'),
    url('/src/assets/fonts/Pretendard/Pretendard-Regular.woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/src/assets/fonts/Pretendard/Pretendard-Light.woff2'),
    url('/src/assets/fonts/Pretendard/Pretendard-RegLightular.woff');
}

#toast-root {
  position: fixed;
  left: 50%;
  bottom: 24px;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 크로스 브라우징 이슈를 위한 코드 */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* 테일윈드 스크롤 보이지 않도록 하기 위한 코드 */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
