@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

:root {
	--primary: #87995c;
	--secondary: #bacb91;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--primary);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 50px;
	border: 1px solid var(--primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	position: relative;
	width: 100%;
	font-family: "Noto Sans KR", sans-serif;
	background-color: rgb(244 244 245/1);
}
a {
	cursor: pointer;
}
